{% extends "base.html" %}
{% load trans from i18n %}


{% block content %}

{% include "frontpage/partials/create_buttons.html" %}

<table class="table">
  <thead>
    <tr>
      <th>{% trans "Tiekėjas" %}</th>
      <th>{% trans "Brandos lygmuo" %}</th>
      <th>{% trans "Projektų" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for agent in agents %}
    <tr>
      <td>{{ agent.title }}</td>
      <td>{{ agent.stars }}</td>
      <td>{{ agent.projects }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
