{% extends "base.html" %}
{% load trans from i18n %}
{% load stars from adltcommon %}


{% block content %}

{% include "frontpage/partials/create_buttons.html" %}

<table class="table">
  <thead>
    <tr>
      <th>{% trans "Projektas" %}</th>
      <th>{% trans "Brandos lygis" %}</th>
      <th>{% trans "Duomenų šaltiniai" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td><a href="{% url 'project-details' project.agent__slug project.slug %}">{{ project.title }}</a></td>
      <td>{% stars project.stars %}</td>
      <td>{{ project.datasets }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
