{% extends "base.html" %}
{% load trans from i18n %}
{% load markdown from adltcommon %}
{% load stars from adltcommon %}


{% block content %}

{% if can_update %}
<div class="pull-right">
  <a href="{% url 'project-update' project.agent.slug project.slug %}" class="btn btn-default">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> {% trans "Keisti" %}
  </a>
</div>
{% endif %}

<h1>{{ project.title }}</h1>

{{ project.description|markdown }}

<h2>{% trans "Naudojami duomenų šaltiniai" %}</h2>

{% if datasets %}
<table class="table">
  <thead>
    <tr>
      <th>{% trans "Duomenų šaltinis" %}</th>
      <th>{% trans "Tiekėjas" %}</th>
      <th>{% trans "Brandos lygis" %}</th>
    </tr>
  </thead>
  <tbody>
    {% for dataset in datasets %}
    <tr>
      <td><a href="{{ dataset.get_absolute_url }}">{{ dataset }}</a></td>
      <td>{{ dataset.agent }}</td>
      <td>{% stars dataset.maturity_level %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}
